<app-pages
    #navigation
    [stretch]="layout === 'stretch'"
    [align]="layout === 'stretch' ? undefined : layout"
    [selectEvent]="selectEvent"
    [backEvent]="backEvent"
    [visible]="5"
    style="bottom: 0px; position: absolute; width: 100vw; left: 0px; height: 100%"
>
    <mat-card style="height: calc(100% - 2rem); margin: 1rem; overflow: scroll" #home *appNavPage="{ name: 'Home', id: 0, icon: 'home' }">
        <ng-container *ngFor="let item of wigets" style="position: relative">
            <img
                [ngStyle]="{
                    position: 'absolute',
                    left: 'calc(' + spacing + ' / 2 + ' + clientWidth + ' * ' + item.x / gridSize + ')',
                    width: 'calc(' + clientWidth + ' / ' + gridSize / item.w + ' - ' + spacing + ')',
                    bottom: 'calc(' + spacing + ' / 2 + ' + clientWidth + ' * ' + item.y / gridSize + ')',
                    height: 'calc(' + clientWidth + ' / ' + gridSize / item.h + ' - ' + spacing + ')',
                    'background-color': settings.value.iconColor
                }"
                style="filter: brightness(0.9)"
                [src]="item.data.img"
                (click)="openSite(item.data)"
            />
        </ng-container>
    </mat-card>
    <mat-card style="height: calc(100% - 2rem); margin: 1rem" *appNavPage="{ name: 'Schedule', id: 1, icon: 'calendar_month' }">
        <mat-card
            style="width: 100%; height: 100%; overflow: scroll; position: relative"
            matRipple
            [matRippleCentered]="false"
            [matRippleDisabled]="true"
            [matRippleUnbounded]="false"
            [matRippleColor]="''"
            (click)="onClick($event)"
        >
            <ng-container *ngFor="let i of blocks">
                <mat-card
                    style="filter: brightness(0.9); padding: 0px"
                    [style]="{
                        width: 'calc((100vw - 2rem) * ' + i.w + ')',
                        height: 'calc((100% - 2rem) * ' + i.h,
                        left: 'calc((100vw - 2rem) * ' + i.left + ')',
                        top: 'calc((100% - 2rem) * ' + i.top + ')',
                        position: 'absolute'
                    }"
                >
                    <mat-card-header style="padding: 0px">
                        <mat-card-title> {{ i.title }} </mat-card-title>
                        <mat-card-subtitle> {{ i.location }} {{ i.teacher }} </mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
            </ng-container>
        </mat-card>
        <mat-form-field color="warn" appearance="fill" *ngIf="dateType !== 'day'">
            <mat-date-range-input [rangePicker]="picker" style="margin-top: 0.4rem">
                <input matStartDate readonly [formControl]="startDate" placeholder="Start date" />
                <input matEndDate readonly [formControl]="stopDate" placeholder="End date" />
            </mat-date-range-input>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker touchUi></mat-date-range-picker>
        </mat-form-field>
        <mat-form-field color="warn" appearance="fill" *ngIf="dateType === 'day'">
            <input matInput readonly [matDatepicker]="dp" [formControl]="date" style="margin-top: 0.4rem" />
            <mat-datepicker-toggle matIconSuffix [for]="dp"></mat-datepicker-toggle>
            <mat-datepicker touchUi #dp disabled="false"></mat-datepicker>
        </mat-form-field>
    </mat-card>
    <mat-card style="height: calc(100% - 2rem); margin: 1rem; position: relative; overflow: hidden" *appNavPage="{ name: 'Homework', id: 2, icon: 'list_alt' }">
        <mat-action-list style="overflow: scroll">
            <mat-divider></mat-divider>
            <ng-container *ngFor="let work of homeworks">
                <button mat-list-item (click)="openPage({ id: 6, data: work })">
                    {{ work.subject }} {{ work.title }}
                    {{
                        work.date.toLocaleDateString(undefined, {
                            year: 'numeric',
                            month: 'short',
                            day: 'numeric'
                        })
                    }}
                </button>
                <mat-divider></mat-divider>
            </ng-container>
        </mat-action-list>
        <mat-form-field color="warn" appearance="fill" style="bottom: 0px; width: 100%; position: absolute; transform: translateY(22px)">
            <input matInput readonly [matDatepicker]="dp2" [formControl]="homeworkCont" style="margin-top: 0.4rem" />
            <mat-datepicker-toggle matIconSuffix [for]="dp2"></mat-datepicker-toggle>
            <mat-datepicker touchUi #dp2 disabled="false"></mat-datepicker>
        </mat-form-field>
    </mat-card>
    <mat-card style="height: calc(100% - 2rem); margin: 1rem; overflow: scroll" *appNavPage="{ name: 'Grades', id: 3, icon: 'task' }">
        <mat-action-list>
            <mat-divider></mat-divider>
            <ng-container *ngFor="let i of Object.values(subjects)">
                <button mat-list-item (click)="openPage({ id: 7, data: i })">
                    {{ i.name.charAt(0).toUpperCase() + i.name.slice(1) }}
                </button>
                <mat-divider></mat-divider>
            </ng-container>
        </mat-action-list>
    </mat-card>
    <mat-card style="height: calc(100% - 2rem); margin: 1rem; overflow: scroll" *appNavPage="{ name: 'Settings', id: 4, icon: 'settings' }">
        <!--
        <form (ngSubmit)="zermeloSubmit($event)">
            <mat-form-field>
                <input matInput [formControl]="zermeloFormControl" placeholder="Ex. 000 000 000 000" />
                <mat-hint>Zermelo koppel code.</mat-hint>
                <mat-error *ngIf="zermeloFormControl.hasError('zermelo') && !zermeloFormControl.hasError('required')">
                    Vul een Zermelo koppel code in.
                </mat-error>
                <mat-error *ngIf="zermeloFormControl.hasError('required')"> Een code is <strong>verplicht</strong>. </mat-error>
            </mat-form-field>
            <button mat-raised-button color="primary" type="submit">Login Zermelo</button>
        </form>
        <mat-divider></mat-divider>
        <button mat-raised-button color="primary" style="width: fit-content">Scan Zermelo code</button>
        -->
        <mat-divider></mat-divider>
        <button mat-raised-button color="primary" style="width: fit-content" (click)="openSomtodayLogin()">Login Somtoday</button>
        <mat-divider></mat-divider>
        <!--<button mat-raised-button color="primary" style="width: fit-content" (click)="ResetData()">Reset All Saved Data</button>
        <mat-divider></mat-divider>-->
        <form>
            <mat-card-header style="padding-left: 2.5%">
                <mat-card-subtitle style="color: white">Force web version:</mat-card-subtitle>
            </mat-card-header>
            <mat-checkbox (change)="setAll($event)" [checked]="all" [indeterminate]="indeterminate" color="primary">All</mat-checkbox>
            <ng-container *ngFor="let item of wigets" style="display: flex; flex-direction: column">
                <ng-container *ngIf="item.data.webLink !== undefined && item.data.appLink">
                    <mat-checkbox [formControl]="$any(item.data.formControl)" color="primary" style="transform: translateX(1em)">
                        {{ item.data.name }}
                    </mat-checkbox>
                </ng-container>
            </ng-container>
            <mat-divider></mat-divider>
            <mat-chip-listbox [formControl]="layoutFormControl" value="stretch">
                <mat-chip-option value="stretch">Stretch</mat-chip-option>
                <mat-chip-option value="start">Left</mat-chip-option>
                <mat-chip-option value="center">Middle</mat-chip-option>
                <mat-chip-option value="end">Right</mat-chip-option>
            </mat-chip-listbox>
            <mat-divider></mat-divider>
            <mat-chip-listbox [formControl]="iconColorControl" value="transparent">
                <mat-chip-option value="white">White</mat-chip-option>
                <mat-chip-option value="transparent">None</mat-chip-option>
            </mat-chip-listbox>
            <!--
            <input #somCode matInput placeholder="som code" />
            <button mat-raised-button color="primary" style="width: fit-content" (click)="TryLogin()">Debug som</button>
            -->
            <mat-divider></mat-divider>
            <mat-card-header style="padding: 0px">
                <mat-card-subtitle>
                    Developer: Jannick Koppe, SJ31011103, SV6A. <a href="mailto: sintjanapp@gmail.com">sintjanapp@gmail.com</a>
                </mat-card-subtitle>
            </mat-card-header>
        </form>
    </mat-card>
    <mat-card style="height: calc(100% - 2rem); margin: 1rem; overflow: scroll" *appNavPage="{ name: 'Lesson', id: 5, icon: 'calendar_month' }"> </mat-card>
    <mat-card style="height: calc(100% - 2rem); margin: 1rem; overflow: scroll" *appNavPage="{ name: 'Homework', id: 6, icon: 'list_alt' }">
        <mat-card-header style="padding: 0px">
            <mat-card-title [innerHTML]="pageData?.title"> </mat-card-title>
            <mat-card-subtitle [innerHTML]="pageData?.content"> </mat-card-subtitle>
        </mat-card-header>
    </mat-card>
    <mat-card style="height: calc(100% - 2rem); margin: 1rem; overflow: scroll" *appNavPage="{ name: 'grade', id: 7, icon: 'task' }">
        <mat-card-header>
            <mat-card-title> {{ pageData?.name }} </mat-card-title>
        </mat-card-header>
        <ng-container *ngFor="let item of pageData?.grades">
            <mat-divider></mat-divider>
            <mat-card-header>
                <mat-card-title>
                    {{ item.value }} {{ item.kolom }}
                    {{ item.weight === 0 ? '' : item.weight }}
                    {{
                        item.date.toLocaleDateString(undefined, {
                            year: 'numeric',
                            month: 'short',
                            day: 'numeric'
                        })
                    }}
                </mat-card-title>
            </mat-card-header>
        </ng-container>
        <mat-divider></mat-divider>
        <button mat-raised-button color="primary" style="width: fit-content" [matMenuTriggerFor]="menu" #calcMenuTrigger>Calculate</button>
        <!--<button mat-button  #menuTrigger>Menu</button>-->
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="openCalc(false)">One grade</button>
            <button mat-menu-item (click)="openCalc(true)">Two grade</button>
        </mat-menu>
    </mat-card>
    <mat-card style="height: calc(100% - 2rem); margin: 1rem; overflow: scroll" *appNavPage="{ name: 'Message', id: 8, icon: 'chat' }"> </mat-card>
</app-pages>
<mat-icon
    (click)="openPage({ id: 4 })"
    fontIcon="warning"
    *ngIf="!this.somtoday.valid"
    style="z-index: 1; position: absolute; color: yellow; padding: 2%; font-size: 3rem; width: auto; height: auto; right: 0px"
></mat-icon>
